<div class="container card mt-3">
  <div class="row mt-3">
    <div class="cardHeader">
    </div>
    <div class="w-25 mt-3">
      <h2 class="ml-3">
        Certificación
      </h2>
    </div>
    <div class="w-68 mt-3">
      <button type="button" class="btn btn-outline-primary float-right mr-1">Exportar</button>
    </div>
    <div class="card-body ">
      <div class="row">
        <div class="col-md-2">
          <ng-select2 [data]="exampleData" [placeholder]="placeholder" [width]="150" [(ngModel)]="value">
          </ng-select2>
        </div>
        <div class="col-md-2">
          <ng-select2 [data]="exampleData" [placeholder]="placeholder" [width]="150" [(ngModel)]="value">
          </ng-select2>
        </div>
        <div class="col-md-2">
          <ng-select2 [data]="exampleData" [placeholder]="placeholder" [width]="150" [(ngModel)]="value">
          </ng-select2>
        </div>
        <div class="col-md-2">
          <ng-select2 [data]="exampleData" [placeholder]="placeholder" [width]="150" [(ngModel)]="value">
          </ng-select2>
        </div>
        <div class="col-md-2">
          <ng-select2 [data]="exampleData" [placeholder]="placeholder" [width]="150" [(ngModel)]="value">
          </ng-select2>
        </div>
        <div class="col-md-2">
          <ng-select2 [data]="exampleData" [placeholder]="placeholder" [width]="150" [(ngModel)]="value">
          </ng-select2>
        </div>
        <div class="col-md-12 mt-3">
          <button type="button" class="btn btn-outline-warning">Limpiar</button>
          <button type="button" class="btn btn-warning">Buscar</button>
        </div>
        <div class="col-md-12 mt-2 border-bottom">
        </div>
        <div class="col-md-12 mt-5 mb-5">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Seleccionar todos
            </label>
          </div>
        </div>
        <div class="row" *ngFor="let dt of data">
        <div class="card cardDetails">
          <div class="mt-3 d-flex justify-content-center">
            <div class="w-10">
              <span class="form-check ml-4 mt-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              </span>
            </div>
            <div class="w-10 d-grid">
              <span class="iconCard">
              </span>
                <span class="font-weight-bolder mr-1 text-warning">{{dt.tipo_imputacion}}</span>
            </div>
            <div class="w-10">
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
            </div>
            <div class="w-10">
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
            </div>
            <div class="w-10">
              <span class="font-weight-bolder mr-1">lorem:</span><span class="mr-1">ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
            </div>
            <div class="w-10">
              <span class="font-weight-bolder text-danger">lorem:</span><span class="text-danger">ipsum</span>
            </div>
            <div class="w-10">
              <span class="font-weight-bolder text-danger">lorem:</span><span class="text-danger">ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
            </div>
            <div class="w-10">
              <span class="font-weight-bolder">lorem:</span><span class="text-danger">ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span>
            </div>
            <div class="w-10 t-center d-grid">
              <span class="f-size mr-1">0</span>
              <span class="mr-1 mt-3">lorem:</span>
            </div>
            <div class="w-10">
              <button type="button" class="btn btn-light"><i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>