<div class="container card mt-3">
  <div class="row mt-3">
    <div class="cardHeader">
    </div>
    <div class="col-md-6 mt-3">
      <h2 class="ml-5">
        Certificación
      </h2>
    </div>
    <div class="col-md-6 mt-3">
      <button type="button" class="btn btn-outline-primary float-right mr-1">Exportar</button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <select class="form-select" aria-label="Default select example">
            <option selected>Pedido de certificación</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-2">
          <select class="form-select" aria-label="Default select example">
            <option selected>Periodo de aprovación</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-2">
          <select class="form-select" aria-label="Default select example">
            <option selected>Código de imputación</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-2">
          <select class="form-select" aria-label="Default select example">
            <option selected>No. de Solicitudes</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-2">
          <select class="form-select" aria-label="Default select example" style="width:90%">
            <option selected>Pedido</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-2">
          <select class="form-select" aria-label="Default select example" style="width:90%">
            <option selected>Estatus</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-12 mt-3">
          <button type="button" class="btn btn-outline-warning">Limpiar</button>
          <button type="button" class="btn btn-warning">Buscar</button>
        </div>
        <div class="col-md-12 mt-3 mb-5">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Seleccionar todos
            </label>
          </div>
        </div>
        <div class="card cardDetails">
          <div class="row mt-3 d-flex justify-content-center">
            <div class="w-10">
              <span class="form-check ml-4 mt-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              </span>
            </div>
            <div class="w-10 d-grid">
              <span class="iconCard">
              </span>
              <span class="font-weight-bolder mr-1 text-warning">lorem:</span>
            </div>
            <div class="w-10">
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
            </div>
            <div class="w-10">
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
            </div>
            <div class="w-10">
              <span class="font-weight-bolder mr-1">lorem:</span><span class="mr-1">ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
            </div>
            <div class="w-10">
              <span class="font-weight-bolder text-danger">lorem:</span><span class="text-danger">ipsum</span>
            </div>
            <div class="w-10">
              <span class="font-weight-bolder text-danger">lorem:</span><span class="text-danger">ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
            </div>
            <div class="w-10">
              <span class="font-weight-bolder">lorem:</span><span class="text-danger">ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              <span class="font-weight-bolder mr-1">lorem:</span>
            </div>
            <div class="w-10 t-center d-grid">
              <span class="f-size mr-1">0</span>
              <span class="mr-1 mt-3">lorem:</span>
            </div>
            <div class="w-10">
              <button type="button" class="btn btn-light"><i class="cid-grip-dots-vertical"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>