<div class="container card mt-3">
  <div class="row mt-3">
    <div class="cardHeader">
    </div>
    <div class="w-25 mt-3">
      <h2 class="ml-3">
        Certificación
      </h2>
    </div>
    <div class="w-68 mt-3">
      <button type="button" class="btn btn-outline-primary float-right mr-1">Exportar</button>
    </div>
    <div class="card-body ">
      <div class="row">
        <app-select2-view></app-select2-view>
        <div class="col-md-12 mt-5 mb-5">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Seleccionar todos
            </label>
          </div>
        </div>
        <div class="row" *ngFor="let dt of this.certificationsData">
          <div class="card cardDetails">
            <div class="mt-3 d-flex justify-content-center">
              <div class="mr-3">
                <span class="form-check ml-2 mt-3">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </span>
              </div>
              <div class="w-10 d-grid">
                <span class="iconCard">
                </span>
                <span class="font-weight-bolder mr-1 text-warning">{{dt.tipo_imputacion}}</span>
              </div>
              <div class="w-15">
                <span class="font-weight-bolder p-1">proovedor:</span><span class="p-1">ipsum</span>
                <span class="font-weight-bolder p-1">imputación:</span><span class="p-1">ipsum</span>
                <span class="font-weight-bolder p-1">Especialidad:</span><span class="p-1">ipsum</span>
              </div>
              <div class="w-25">
                <span class="font-weight-bolder p-1">CM:</span><span class="p-1">{{dt.codigo_contrato_marco}}</span><span class="font-weight-bolder p-1">Pos</span><span class="p-1">0</span><span class="font-weight-bolder p-1">SubPos</span><span class="p-1">10</span>
                <span class="font-weight-bolder p-1">Solicitud:</span><span class="p-1">ipsum</span>
                <span class="font-weight-bolder p-1">Tipo elaborado:</span><span class="p-1">ipsum</span>
              </div>
              <div class="w-25">
                <span class="font-weight-bolder p-1">NP:</span><span class="p-1">ipsum</span><span class="font-weight-bolder p-1">Pos</span><span class="p-1">0</span><span class="font-weight-bolder p-1">SubPos</span><span class="p-1">10</span>
                <span class="font-weight-bolder p-1">Pedido:</span><span class="p-1">ipsum</span>
                <span class="font-weight-bolder p-1">Plano:</span><span class="p-1">ipsum</span>
              </div>
              <!--<div class="w-10">
                <span class="font-weight-bolder text-danger">lorem:</span><span class="text-danger">ipsum</span>
              </div>
              <div class="w-10">
                <span class="font-weight-bolder text-danger">lorem:</span><span class="text-danger">ipsum</span>
                <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
                <span class="font-weight-bolder mr-1">lorem:</span><span>ipsum</span>
              </div>-->
              <div class="w-15">
                <span class="font-weight-bolder">Periodo de aprobación:</span><span class="text-danger">ipsum</span>
                <span class="font-weight-bolder mr-1">Periodo de certificación:</span><span>ipsum</span>
                <span class="font-weight-bolder mr-1">HES:</span>
              </div>
              <div class="w-10 t-center d-grid">
                <span class="f-size mr-1">0</span>
                <span class="mr-1 mt-3">lorem:</span>
              </div>
              <div class="w-10">
                <button type="button" class="btn btn-light"><i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
